.header{
    font-size: 20px;
    color:rgb(216, 3, 216);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.header>h1>span{
    color: rgb(4, 117, 161);
}
.header-name{
    color: rgb(1, 1, 124);
}
.header-name> span{
    color: rgb(216, 14, 14);
}