.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin: 10px 50px;
    /* background-color: #e0e0e0;; */
    
}
.cart-container{
    background-color: lightgray;
    border-radius: 15px;
}

.image-container{
    padding-right: 20px;
    width: 50px;
}
.selected-iteam{
    padding: 10px 4px;
    color: green;
    font-weight: 500;
    background-color:cornsilk;
    border-radius: 5px;
    box-shadow: 20px;
    border: 0;
}

.choose-again{
    padding: 10px 4px;
    color: purple;
    font-weight: 500;
    /* background-color:; */
    border-radius: 5px;
    box-shadow: 20px;
    border: 0;
}
@media screen and (max-width:576px){
    .product-container{
        grid-template-columns: repeat(1,1fr);
    }
    
}